<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>add new patient</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form th:action="@{/patient/add}" th:object="${patient}" method="post">
            <input type="text" th:field="*{name}" class="form-control" placeholder="patient name">
            birth date <input type="date" th:field="*{birth}" class="form-control">
            <input type="submit" class="form-control" value="Save">
        </form>
    </div>
</body>
</html>
<!-- In diesem Formular wird ein neues Patient-Objekt erstellt, das über die th:object-Attributbindung mit dem Formular verbunden ist. Die Eingabefelder für den Namen und das Geburtsdatum des Patienten sind mit th:field-Attributen versehen, die auf die entsprechenden Eigenschaften des Patient-Objekts verweisen. Wenn das Formular abgesendet wird, werden die Daten an die angegebene URL (/patient/add) gesendet, um den neuen Patienten zu speichern. -->